{% extends "layout.html" %}
{% block body %}

<div class = "container">
  <div id = "intro">
      <h1>Web Development Club</h1>
          <h2>Register for WDC seminar!</h2>
          <p id="note">The students are requested to fillup the form, if interested to join the seminar orgainsed by WDC to be held on 22nd November,2018</p>

          </div>

    <div id= "form">
      <h1>Information: </h1>
      <p id = "directed">To go to the registration form section click <a href = "http://127.0.0.1:5000/register/"</a> here!</p>

      </div>


</div>
  {% endblock %}
