<!--registration html, references for wtf from tutorialspoint-->




{% extends "layout2.html" %}
{% block body %}


<div class = "form-begin">

  <h1>Cypher decoder/encoder</h1>

<br>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/cyph/">
<dl>
  {{render_field(form.message)}}
  {{render_field(form.mode)}}
  {{render_field(form.key)}}


</dl>
<p><input type=submit value=encode></p>
</form>

{% if error %}
<p class="error"><strong>INTERNAL Error:</strong>{{error}}</p>


{% endif %}




</div>
{% endblock %}
